.box-container {
  cursor: pointer;
  position: relative;
}
.box-container .versions {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}
.box-container .versions .danlock {
  aspect-ratio: 1/1;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  filter: brightness(0.4);
  transition: 0.5s;
}
.box-container .versions .danlock-1 {
  background-image: url(../img/danlock1/icon.png);
}
.box-container .versions .danlock-2 {
  background-image: url(../img/danlock2/icon.png);
}
.box-container .versions .danlock-3 {
  background-image: url(../img/danlock3/icon.png);
}
.box-container .versions .danlock.selected, .box-container .versions .danlock:hover {
  filter: brightness(1);
}

.box-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 320px;
  height: 508px;
  aspect-ratio: 400/635;
  transition: transform 0.6s;
  pointer-events: none;
  padding: 20px;
}
.box-holder.show {
  transform: scale(0.7);
}
.box-holder .box {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: 2;
}
.box-holder .box .face {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.box-holder .box .card {
  position: absolute;
  inset: 2px;
  background-image: url(../img/danlock3/card.png);
  transform: translateZ(-5px);
  transition: 0.7s;
  border-radius: 15px;
}
.box-holder .box.show .card {
  transform: translateZ(-5px) translateY(-80%);
}
.box-holder .box .front, .box-holder .box .back {
  inset: 0;
}
.box-holder .box .left, .box-holder .box .right {
  height: 100%;
  width: 102px;
}
.box-holder .box .top, .box-holder .box .bottom {
  height: 102px;
  width: 100%;
}
.box-holder .box .front {
  background-image: url(../img/danlock3/box-front.png);
}
.box-holder .box .back {
  background-image: url(../img/danlock3/box-back.png);
  transform: translateZ(-102px) rotateY(180deg);
}
.box-holder .box .left {
  background-image: url(../img/danlock3/box-side.png);
  transform: translateZ(-51px) translateX(-51px) rotateY(90deg) rotateY(180deg);
  left: 0;
}
.box-holder .box .right {
  background-image: url(../img/danlock3/box-side.png);
  transform: translateZ(-51px) translateX(51px) rotateY(-90deg) rotateY(180deg);
  right: 0;
}
.box-holder .box .top {
  background-image: url(../img/danlock3/box-top.png);
  transform: translateZ(-51px) translateY(-51px) rotateX(90deg);
  top: 0;
}
.box-holder .box .bottom {
  background-image: url(../img/danlock3/box-bottom.png);
  transform: translateZ(-51px) translateY(51px) rotateX(90deg) rotateY(180deg);
  bottom: 0;
}
.box-holder .box.danlock-1 .front {
  background-image: url(../img/danlock1/box-front.png);
}
.box-holder .box.danlock-1 .back {
  background-image: url(../img/danlock1/box-back.png);
}
.box-holder .box.danlock-1 .left {
  background-image: url(../img/danlock1/box-side.png);
}
.box-holder .box.danlock-1 .right {
  background-image: url(../img/danlock1/box-side.png);
}
.box-holder .box.danlock-1 .top {
  background-image: url(../img/danlock1/box-top.png);
}
.box-holder .box.danlock-1 .bottom {
  background-image: url(../img/danlock1/box-top.png);
}
.box-holder .box.danlock-1 .card {
  background-image: url(../img/danlock1/card.png);
}
.box-holder .box.danlock-2 .front {
  background-image: url(../img/danlock2/box-front.png);
}
.box-holder .box.danlock-2 .back {
  background-image: url(../img/danlock2/box-back.png);
}
.box-holder .box.danlock-2 .left {
  background-image: url(../img/danlock2/box-side.png);
}
.box-holder .box.danlock-2 .right {
  background-image: url(../img/danlock2/box-side.png);
}
.box-holder .box.danlock-2 .top {
  background-image: url(../img/danlock2/box-top.png);
}
.box-holder .box.danlock-2 .bottom {
  background-image: url(../img/danlock2/box-bottom.png);
}
.box-holder .box.danlock-2 .card {
  background-image: url(../img/danlock2/card.png);
}
.box-holder .box.danlock-3 .front {
  background-image: url(../img/danlock3/box-front.png);
}
.box-holder .box.danlock-3 .back {
  background-image: url(../img/danlock3/box-back.png);
}
.box-holder .box.danlock-3 .left {
  background-image: url(../img/danlock3/box-side.png);
}
.box-holder .box.danlock-3 .right {
  background-image: url(../img/danlock3/box-side.png);
}
.box-holder .box.danlock-3 .top {
  background-image: url(../img/danlock3/box-top.png);
}
.box-holder .box.danlock-3 .bottom {
  background-image: url(../img/danlock3/box-bottom.png);
}
.box-holder .box.danlock-3 .card {
  background-image: url(../img/danlock3/card.png);
}/*# sourceMappingURL=danlock.css.map */