$bg: #101216;
$primary: #e69191;

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: $bg;
    min-height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: Roboto slab, Roboto, sans-serif;
    background-size: 100% 100%;
    overscroll-behavior: none;
}

body {
    margin-bottom: 100px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    .block-row {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .block {
            position: relative;
            width: calc(100% / 6);
            height: min(17vw, 20vh);
            border-radius: 10px;
            transition: .5s;
            
            .box {
                position: absolute;
                inset: 0;
                border-radius: 10px;
                transition: .6s;
                transform-style: preserve-3d;

                .face {
                    position: absolute;
                    border-radius: 10px;
                    backface-visibility: hidden;
                }

                .front {
                    transform: rotateY(0deg);
                    background-image: url(../img/header-3.png), url(../img/header.png);
                    background-size: var(--bg-size), var(--bg-size);
                    background-position: left var(--bg-posx) top var(--bg-posy), left var(--bg-posx) top var(--bg-posy);
                    animation: smoke 150s linear infinite;
                    background-repeat: repeat-y;
                }

                .back {
                    transform: rotateY(180deg);
                    background-image: url(../img/header-2.png), linear-gradient(45deg, $bg,  rgb(38, 48, 60), rgb(40,54,80));
                    // background-image: url(../img/header-2.png)
                }

                .front, .back {
                    width: 100%;
                    height: 100%;
                }
            }
            @media (hover: hover) {
                &:hover {
                    .box {
                        transform: translateZ(-50px) rotateY(180deg) scale(1.02);
                        cursor: pointer;
                    }
                }
            }
            
            
            &.played {
                
                .box {
                    transform: translateZ(-50px) rotateY(180deg) scale(1.05);
                }

                &.nought, &.cross {

                    .box {
                        animation: playToken .5s forwards;
                    }

                    &:after {
                        content:'';
                        color: white;
                        font-size:3rem;
                        position: absolute;
                        inset: 0;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C14.8273 3 17.35 4.30367 19 6.34267' stroke='%23fff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.cross:after {
                    content:'';
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 5L5 19M5 5L9.5 9.5M12 12L19 19' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
                &.winning {

                    .back {
                        background-image: url(../img/header-2.png),linear-gradient(45deg, rgb(35, 43, 35),  rgb(45, 61, 47), rgb(115, 158, 117))
                    }
                    
                }
            }
        }
    }

    @media screen and (max-width: 720px) {
        gap: 2px;

        .block-row {
            gap: 2px;
        }
    }
}

@keyframes playToken {
    0% {
        transform: translateZ(-50px) rotateY(180deg) scale(1.02);
    }

    20% {
        transform: translateZ(-50px) rotateY(180deg) scale(.9);
    }

    50% {
        transform: translateZ(-50px) rotateY(180deg) scale(1.05);
    }

    100% {
        transform: translateZ(-50px) rotateY(180deg) scale(1.02);
    }
}

@keyframes smoke {
    from {
        background-position: left var(--bg-posx, 0) top var(--bg-posy, 0), left var(--bg-posx) top var(--bg-posy);
    }

    to {
        background-position: left var(--bg-posx) top calc(var(--bg-posy) + 130%), left var(--bg-posx) top var(--bg-posy);
    }
}

h1,h2 {
    color: $primary;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 1rem;
    margin: .5rem 0;
}

h1 {
    font-size: calc(3rem + 10vw);
    
}

h2 {
    font-size: calc(2rem + 2vw);
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #777;
    transition: .3s;

    &:hover {
        border-color: $primary;
    }
}

iframe {
    display: block;
    margin: 0 auto;
}

.section {
    width: 90vw;
    margin: 0 auto;

    .container {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        &.centered {
            align-items: center;
            justify-content: center;
        }

        &.reverse {
            flex-direction: row-reverse;
        }

        .text {
            // width: 100%;
            flex: 1 1 70%;
            
            @media screen and (max-width: 490px) {
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 814px) {

        .container {
            display: grid;
            grid-template-areas: "top" "bottom";
            align-items: center;
            justify-items: center;

            .block-marker {
                grid-area: top;
                width: 100%;
            }

            .text {
                display: contents;
                z-index: 2;

                h2 {
                    grid-area: top;
                    z-index:2;
                    text-shadow: 0 0 15px #223;
                }

                .paragraphs {
                    grid-area: bottom;
                }
            }
        }
    }
    
}

.block-marker {
    width: 200px;
    height: 190px;
    background-image: url(../img/header-3.png), url(../img/header-3.png);
    background-size: 200%, 200%;
    background-position: left top, right top;
    animation: markerSmoke 180s linear infinite;
    background-repeat: repeat-y;
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

@keyframes markerSmoke {
    from {
        background-position: left 0, right 0;
    }
    to {
        background-position: left -2000px, right -1000px;
    }
}