$headerCol: rgb(102, 148, 190);
$headerTextCol: rgb(17, 51, 95);
$backgroundAnim: background 60s linear infinite;
* {
  box-sizing: border-box;
}
html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background: rgb(236, 235, 220);
  background-image: radial-gradient(#4451 3px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  min-height: 100vh;
  font-family: "Luckiest Guy", sans-serif;
  color: $headerTextCol;
  animation: $backgroundAnim;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: $headerCol #ddd;
  transition: 0.3s;
  &.reading {
    overflow: hidden;
  }

  &.dark body {
    background: rgb(14, 15, 35);
    background-image: radial-gradient(#72728d11 3px, transparent 0);
    color: $headerCol;

    h1,
    h2 {
      color: $headerCol;
    }

    h2.fill::after {
      background-color: $headerCol;
    }

    .waves::after {
      background: linear-gradient(to bottom, rgb(14, 15, 35) 60%, transparent);
    }

    nav ul li {
      color: white;
    }

    #reader #words {
      background: black;
      color: white;
      scrollbar-color: $headerTextCol #333;
    }

    section a:hover {
      color: white;
    }

    section.written::after {
      background: linear-gradient(transparent 0, rgb(14, 15, 35) 60%);
    }

    section.written button.reading-mode {
      color: $headerCol;
      &:hover {
        color: $headerTextCol;
      }
    }

    .dark-mode {
      background: rgb(229, 223, 141);
      box-shadow: 0 0 5px white;
      transition: box-shadow 0.5s 0.3s;
      &::after {
        transform: translate(25px, -25px);
      }
    }
  }
}

.dark-mode {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  overflow: clip;
  overflow-clip-margin: 1px;
  cursor: pointer;
  &::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    inset: 0;
    background: $headerCol;
    border-radius: 50%;
    z-index: 10;
    transform: translate(10px, -5px);
    transition: 0.5s ease;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  width: 100%;
  height: 200px;
  background: $headerCol;
  background-image: radial-gradient(#4451 3px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  animation: $backgroundAnim;
  z-index: 2;
  padding: 60px;
  @media screen and (max-width: 600px) {
    padding: 60px 10px;
  }
  .name {
    text-transform: uppercase;
    color: $headerTextCol;
    text-align: center;
    font-size: 8rem;
    pointer-events: none;
    @media screen and (max-width: 650px) {
      font-size: 3rem;
    }
    cursor: default;
  }
  &.grey {
    filter: grayscale(0.7);
  }
}
.waves {
  position: sticky;
  top: 0;
  width: 100%;
  height: 140px;
  z-index: 1;
  &.grey {
    filter: grayscale(0.7);
  }
}
.wave-1,
.wave-2,
.wave-3 {
  width: 100%;
  animation: parallax linear;
  animation-timeline: scroll();
  animation-range: 0 300px;
  position: absolute;
  top: 0px;
  height: 180px;
  width: 100%;
  background: $headerCol;

  --mask: radial-gradient(
        129.69px at 50% calc(100% - 174px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 116px) 0/232px 100%,
    radial-gradient(129.69px at 50% calc(100% + 116px), #0000 99%, #000 101%)
      50% calc(100% - 58px) / 232px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  transform: translateY(-60%);
}
.wave-2 {
  height: 220px;
  bottom: -220px;
  background: color-mix($headerCol, transparent 50%);
  --mask: radial-gradient(
        111.8px at 50% calc(100% - 150px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.8px at 50% calc(100% + 100px), #0000 99%, #000 101%) 50%
      calc(100% - 50px) / 200px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: -1;
}
.wave-3 {
  height: 250px;
  bottom: -250px;
  background: color-mix($headerCol, transparent 80%);
  --mask: radial-gradient(
        78.26px at 50% calc(100% - 105px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 70px) 0/140px 100%,
    radial-gradient(78.26px at 50% calc(100% + 70px), #0000 99%, #000 101%) 50%
      calc(100% - 35px) / 140px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: -1;
}

nav {
  position: sticky;
  top: 0px;
  font-size: 2rem;
  height: 100px;
  display: flex;
  align-items: end;
  flex-direction: column;
  @media screen and (max-width: 600px) {
    font-size: 1.3rem;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  li {
    text-decoration: none;
    color: $headerTextCol;
    transition: 0.2s;
    &:hover {
      transform: rotate(-2deg) scale(1.1);
    }
    &:nth-child(even):hover {
      transform: rotate(2deg) scale(1.1);
    }
  }
}

h1,
h2 {
  margin: 0;
  font-size: 3rem;
  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}
h2 {
  font-weight: 300;
  position: relative;
  color: $headerTextCol;

  &.fill::after {
    content: attr(data-title);
    position: absolute;
    inset: 0;

    color: transparent;
    -webkit-text-fill-color: transparent;

    background: $headerTextCol;
    background-clip: text;
    -webkit-background-clip: text;

    animation: textFill 1s ease-in-out both;
    // animation-timeline: scroll();
  }

  @supports (-webkit-text-stroke: 1px grey) {
    &[data-title]:not(.wordy) {
      color: #d1dad6;
      -webkit-text-stroke: 1px $headerTextCol;
      text-stroke: 1px $headerTextCol;
    }
  }
}
.waves::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;
  animation: parallax linear;
  animation-timeline: scroll();
  animation-range: 0 300px;
  background: linear-gradient(to bottom, rgb(236, 235, 220) 60%, transparent);
  z-index: -2;
}
main {
  position: relative;
  z-index: 0;
  height: 100%;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  scroll-padding-top: 500px;
}
section {
  &:last-of-type {
    margin-bottom: 200px;
  }
  width: 100%;
  max-width: 600px;
  p {
    font-family: "Open Sans";
  }
  span.quote-author {
    float: right;
  }

  a {
    border-bottom: 1px dashed $headerCol;
    transition: 0.2s ease;
    &::before {
      content: url(/img/arrow.svg);
      margin-right: 5px;
      width: 20px;
      height: 20px;
      display: inline-block;
      transform: rotate(90deg);
    }

    &:hover {
      color: $headerCol;
    }
  }

  &.written {
    p {
      margin: 0;
      text-indent: 5ch;
    }
    button.reading-mode {
      appearance: none;
      border: none;
      background: transparent;
      padding: 10px 20px;
      font-family: inherit;
      font-size: 1rem;
      width: 100%;
      text-align: center;
      color: $headerTextCol;
      margin: 20px 0;
      border-radius: 15px;
      transition: 0.3s ease;
      cursor: pointer;
      &::before {
        content: "📖";
        margin-right: 10px;
      }
      &:hover {
        background: $headerCol;
      }
    }

    max-height: 400px;
    overflow: hidden;
    position: relative;
    &::after {
      position: absolute;
      content: "Reveal all";
      background: linear-gradient(transparent 0, rgb(236, 235, 220) 60%);
      width: 100%;
      height: 60px;
      bottom: 0;
      display: flex;
      align-items: end;
      justify-content: center;
      cursor: pointer;
    }
    &.revealed {
      max-height: unset;
      &::after {
        content: none;
        display: none;
      }
    }
  }
}

div.writing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
  align-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  section {
    width: auto;

    img {
      width: 200px;
      height: auto;
      transition: 0.2s;
      &:hover {
        transform: scale(1.05) rotate(-2deg);
      }
    }
    &:nth-child(even) img:hover {
      transform: scale(1.05) rotate(2deg);
    }
    a {
      border: none;
      &::before {
        content: "";
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

footer {
  text-align: end;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

@keyframes parallax {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-60%);
  }
}

@keyframes background {
  from {
    background-position: -19px -19px;
  }

  to {
    background-position: 20px 20px;
  }
}
@keyframes textFill {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

#reader {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  font-family: "Open Sans", sans-serif;

  &.open {
    display: block;
  }

  #overlay {
    position: absolute;
    inset: 0;
    background: #000d;
    display: flex;
    justify-content: center;
    padding: 50px 2%;
  }

  #words {
    border-radius: 10px;
    background: white;
    color: black;
    width: 100%;
    padding: 30px 20px;
    max-width: 700px;
    z-index: 11;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $headerCol #ddd;
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      text-align: justify;
      text-indent: 3ch;
      margin: 0;
      line-height: 1.5rem;
      font-size: 1.2rem;

      &:first-of-type {
        text-indent: 0;
        &::first-letter {
          font-family: Georgia, "Times New Roman", Times, serif;
          color: $headerTextCol;
          float: left;
          font-size: 75px;
          line-height: 60px;
          padding-top: 2px;
          padding-right: 8px;
          padding-left: 3px;
        }
      }
    }
  }

  #close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
    background: transparent;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    &:hover {
      color: $headerTextCol;
      background: white;
    }
  }
}

.sea-zone {
  position: relative;
}

#tank {
  position: relative;
  overflow: hidden;
}

#fish {
  position: absolute;
  width: 40px;
  height: auto;
  left: 0;
  top: 0;
  transform-origin: center center;
  transform: translate(-100px, -100px);
  pointer-events: none;
  opacity: 0.6;
  z-index: 10;
  transition: opacity 0.7s;
}
