* {
  box-sizing: border-box;
}
html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background: rgb(236, 235, 220);
  background-image: radial-gradient(#4451 3px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  height: 200vh; //todo remove
  font-family: "Luckiest Guy", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

$headerCol: rgb(102, 148, 190);
$headerTextCol: rgb(17, 51, 95);

header {
  position: relative;
  width: 100%;
  height: 200px;
  background: $headerCol;
  z-index: 2;
  padding: 60px;

  .name {
    text-transform: uppercase;
    color: $headerTextCol;
    text-align: center;
    font-size: 8rem;
  }
}
.waves {
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 1;
}
.wave-1,
.wave-2,
.wave-3 {
  width: 100%;
  animation: parallax linear;
  animation-timeline: scroll();
  position: absolute;
  top: 0px;
  height: 180px;
  width: 100%;
  background: $headerCol;
  --mask: radial-gradient(
        129.69px at 50% calc(100% - 174px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 116px) 0/232px 100%,
    radial-gradient(129.69px at 50% calc(100% + 116px), #0000 99%, #000 101%)
      50% calc(100% - 58px) / 232px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  filter: drop-shadow(0 10px black);
}
.wave-2 {
  height: 220px;
  bottom: -220px;
  background: color-mix($headerCol, transparent 50%);
  --mask: radial-gradient(
        111.8px at 50% calc(100% - 150px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.8px at 50% calc(100% + 100px), #0000 99%, #000 101%) 50%
      calc(100% - 50px) / 200px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: -1;
}
.wave-3 {
  height: 250px;
  bottom: -250px;
  background: color-mix($headerCol, transparent 80%);
  --mask: radial-gradient(
        78.26px at 50% calc(100% - 105px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 70px) 0/140px 100%,
    radial-gradient(78.26px at 50% calc(100% + 70px), #0000 99%, #000 101%) 50%
      calc(100% - 35px) / 140px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: -2;
}

nav {
  position: sticky;
  top: 40px;
  font-size: 2rem;

  ul {
    list-style: none;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
  }

  li {
    text-decoration: none;
    color: $headerTextCol;
    transition: 0.2s;
    &:hover {
      transform: rotate(2deg) scale(1.1);
    }
    &:nth-child(even):hover {
      transform: rotate(-2deg) scale(1.1);
    }
  }
}

@keyframes parallax {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-300%);
  }
}
